.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.bg-light-grey {
  background-color: var(--color-light-grey);
}
.bg-dark-grey {
  background-color: var(--color-dark-grey);
}

.bg-grey {
  background-color: var(--color-grey);
}

.bg-red {
  background-color: var(--color-red);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-emphasis {
  background-color: var(--color-emphasis);
}
