@media only screen and (min-width: 1008px) {
  .md\:container {
    width: clamp(
      var(--width-container-min),
      var(--width-container-ideal),
      var(--width-container-max)
    );
    margin-right: auto;
    margin-left: auto;
  }
}
