@media only screen and (min-width: 1008px) {
  .md\:border-0 {
    border-width: 0;
  }

  .md\:border-2 {
    border-width: 2px;
  }

  .md\:border-5 {
    border-width: 5px;
  }

  .md\:border-10 {
    border-width: 10px;
  }

  .md\:border-t-0 {
    border-top-width: 0;
  }

  .md\:border-b-2 {
    border-bottom-width: 2px;
  }

  .md\:border-solid {
    border-style: solid;
  }

  .md\:border-black {
    border-color: #000000;
  }

  .md\:border-grey {
    border-color: var(--color-grey);
  }

  .md\:border-dark-grey {
    border-color: var(--color-dark-grey);
  }

  .md\:border-b-black {
    border-bottom-color: #000000;
  }

  .md\:border-b-grey {
    border-bottom-color: var(--color-grey);
  }

  .md\:border-b-dark-grey {
    border-bottom-color: var(--color-dark-grey);
  }

  .md\:rounded-1\/2 {
    border-radius: 0.md\:5em;
  }

  .md\:rounded-1 {
    border-radius: 1em;
  }

  .md\:rounded-2 {
    border-radius: 2em;
  }

  .md\:rounded-full {
    border-radius: 50%;
  }
}
