.-translate-50 {
  transform: translate(-50%, -50%);
}

.-translate-x-50 {
  transform: translateX(-50%);
}

.-translate-y-50 {
  transform: translateY(-50%);
}

.-translate-1\/2 {
  transform: translate(-50%, -50%);
}

.-translate-x-1\/2 {
  transform: translateX(-50%);
}

.-translate-y-1\/2 {
  transform: translateY(-50%);
}

.translate-1\/2 {
  transform: translate(50%, 50%);
}

.translate-x-1\/2 {
  transform: translateX(50%);
}

.translate-y-1\/2 {
  transform: translateY(50%);
}
